@model ExpenseTrackerNew.Models.Transaction

@{
    ViewData["Title"] = "Добавить или изменить транзакцию";
}

<h1>Добавить или изменить транзакцию</h1>

<h4>Транзакция</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="mb-3">
                <label asp-for="CategoryId" class="control-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Title"))"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Amount" class="control-label">Сумма</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Note" class="control-label">Заметка</label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<div class="mb-3">
    <a class="btn btn-secondary" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
