@{
    ViewData["Title"] = "Вход";
}

<h1>Вход</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label for="username" class="control-label">Имя пользователя</label>
                <input id="username" name="username" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="password" class="control-label">Пароль</label>
                <input id="password" name="password" type="password" class="form-control" />
            </div>

            <div class="mb-3">
                <input type="submit" value="Вход" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
